@model Collinson.Web.Controllers.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Collinson Tech - DevOps Assignment</title>
    
    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="../../Content/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Collinson Tech - DevOps Assignment</a>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form" action="login/index" method="POST">
                    <div class="form-group">
                        <input type="text" name="Username" placeholder="Username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password"  name="Password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Hello there</h1>
            <p>This is a simple website built using ASP.NET MVC 4.</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
</body>
</html>
